// @media screen and (min-width: 375px){ 
//   .contact-list {
//   width: 290px;
//   margin-left: 20px;
//   list-style-type: none;
//   height: 70px;
//   overflow: hidden;
//   overflow-y: scroll;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }
// }


// @media screen and (min-width: 768px){ 
//   .contact-list {
//   width: 440px;
//   margin-left: 165px;
//   list-style-type: none;
//   height: 500px;
//   overflow: hidden;
//   overflow-y: scroll;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }
// }

@media screen and (min-width: 1158px) {
  .words-table-container {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: MacPawFixelDisplay;
    font-size: 20px;
    font-weight: 500;
  }
  
  .words-table {
    width: 1204px;
    height: 604px;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: #FCFCFC;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .table-header {
    background-color: rgba(133, 170, 159, 0.1);
    height: 72px;
  }
  
  .words-row-header {
    border-bottom: 1px solid #dbdbdb;
    padding: 22px;
    text-align: left;
    height: 72px;
    font-weight: 500;
  }

  .words-row-header:nth-child(1){
    border-right: 1px solid #dbdbdb;
    width: 280px;
  }

  .words-row-header:nth-child(4){
    border-right: 1px solid #dbdbdb;
    width: 254px;
  }
  .words-row-header:nth-child(3){
    border-right: 1px solid #dbdbdb;
    width: 260px;
  }

  .words-row-header:nth-child(2){
    border-right: 1px solid #dbdbdb;
    width: 274px;
  }

  .words-row-header:last-child{
    width: 136px;
  }

  .words-row {
    border-bottom: 1px solid #dbdbdb;
    padding: 22px;
    height: 72px;
  }

  .words-row:nth-child(1){
    border-right: 1px solid #dbdbdb;
  }

  .words-row:nth-child(4){
    border-right: 1px solid #dbdbdb;
  }
  .words-row:nth-child(3){
    border-right: 1px solid #dbdbdb;
  }

  .words-row:nth-child(2){
    border-right: 1px solid #dbdbdb;
  }

  .words-row:last-child {
    text-align: center;
  }
  .table-header .words-row-header:nth-child(1) {
    border-top-left-radius: 10px;
    border-top: none;
  }

  .table-header .words-row-header:last-child {
    border-top-right-radius: 10px;
    border-top: none;
  }

  .table-row:last-child .words-row:last-child {
    border-bottom-right-radius: 10px;
  }

  .table-row:last-child .words-row:nth-child(1) {
    border-bottom-left-radius: 10px;
  }

  .table-row:last-child .words-row {
    border-bottom: none;
  }

  .header-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon {
    width: 32px;
    height: 32px;
  }
  
  .progress-bar-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между текстом и кругом */
  }
  
  .progress-text {
    font-size: 20px;
    font-weight: 500;
    color: #121417;
  }
  
  .progress-circle {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-svg {
    transform: rotate(-90deg); /* Поворачиваем круг для правильного направления заполнения */
  }
  
  .progress-bg {
    stroke-linecap: round; /* Закруглённые концы для внешнего круга */
  }
  
  .progress-fill {
    stroke-linecap: round; /* Закруглённые концы для заполнения */
    transition: stroke-dashoffset 0.4s ease; /* Плавная анимация заполнения */
  }  
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  .popover-content {
    font-family: MacPawFixelDisplay;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: 8px;
    width: 124px;
    height: 80px;
    padding-top: 12px 24px;
    overflow-y: hidden;
    border-radius: 15px;
  }
  .popover-button {
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
  }

  .popover-icon {
    width: 18px;
    height: 18px;
    padding: 0;
    display: block;
    fill: #fff;
    stroke: #85AA9F;
  }
  .popover-text {
    padding: 0;
    margin: 0;
    font-family: MacPawFixelDisplay;
    font-size: 18px;
    font-weight: 500;
    color: #121417;
  }
}