@media screen and (min-width: 375px) {
  .header {
    font-size: 12px;
    max-width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 4px solid #2a363b;
  }
    }
  @media screen and (min-width: 768px) {
    .header {
      font-size: 14px;
      max-width: 400px;
      margin-left: 270px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      border-bottom: 5px solid #2a363b;
    }
    }
  
  @media screen and (min-width: 1158px){
  .header {
    font-size: 24px;
    max-width: 600px;
    margin-left: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 7px solid #2a363b;
  }
  }