@media screen and (min-width: 375px){ 
  .searchBox {
      width: 230px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 70px;
    }
    
    .label {
      font-size: 12px;
      color: black;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .searchField {
      font-size: 12px;
      width: 230px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

@media screen and (min-width: 768px){ 
  .searchBox {
      margin-left: 185px;
      width: 400px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    .label {
      font-size: 18px;
      color:black;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .searchField {
      font-size: 18px;
      width: 400px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

@media screen and (min-width: 1158px){ 
.searchBox {
    margin-left: 270px;
    width: 640px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .label {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .searchField {
    font-size: 18px;
    width: 600px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
  