// @media screen and (min-width: 375px){
//   .form {
//    padding-left: 70px;
//    width: 230px;
//    margin-bottom: 10px;
// }

// .form-wrapper {
//   margin-bottom: 10px;
// }

// .label {
//   font-size: 14px;
//   margin-right: 10px;
//   font-weight: bold;
// }

// .field {
//   font-size: 14px;
//   width: 230px;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .error {
//   color: #dc3545;
//   margin-top: 5px;
// }

// .btn {
//   width: 230px;
//   height: 30px;
//   background-color: #28a745;
//   color: #fff;
//   border: none;
//   padding: 5px;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 14px;
// }

// .btn:hover {
//   background-color: #218838;
// }
// }
// @media screen and (min-width: 768px){
//   .form {
//   padding-left: 185px;
//   width: 400px;
//   display: flex;
//   flex-direction: column;
// }

// .form-wrapper {
//   margin-bottom: 15px;
// }

// .label {
//   margin-bottom: 5px;
//   display: block;
//   font-weight: bold;
//   margin-right: 10px;
// }

// .field {
//   width: 400px;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .error {
//   color: #dc3545;
//   margin-top: 5px;
// }

// .btn {
//   margin-left: 0;
//   width: 400px;
//   height: 40px;
//   background-color: #28a745;
//   color: #fff;
//   border: none;
//   padding: 10px 15px;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 18px;
// }

// .btn:hover {
//   background-color: #218838;
// }
// }

@media screen and (min-width: 1158px){
  .form {
    width: 628px;
    height: 592px;
    background-color: rgba(133, 170, 159, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: MacPawFixelDisplay;
  }

  .form-header {
    width: 500px;
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 0, 0);
    margin-bottom: 20px;
   }

  .form-text {
   width: 500px;
   font-size: 20px;
   font-weight: 400;
   color: rgba(18, 20, 23, 0.8);
   margin-bottom: 40px;
  }

  .form-wrapper {
    width: 500px;
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
    height: 56px; /* Фиксируем высоту, чтобы избежать смещений */
    margin-bottom: 18px;
  }
  
  .field {
    width: 100%; /* Занимает всю ширину */
    height: 52px; /* Высота поля ввода */
    padding: 16px 48px 16px 18px; /* Добавляем место справа для кнопки */
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
  }

  .field:hover, .field:focus {
    outline: 1px solid #85AA9F;
  }
  
  
  ::placeholder {
    color: rgba(18, 20, 23, 0.8);
  }

  .my-icon {
    position: absolute; /* Абсолютное позиционирование относительно .form-wrapper */
    top: 50%; /* Центрирование кнопки по вертикали */
    right: 18px; /* Отступ от правого края */
    transform: translateY(-50%); /* Точное выравнивание по центру */
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .error {
    display: flex;
    align-items: center;
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
  
    &::before {
      content: '⚠️'; /* Иконка ошибки */
      margin-right: 5px; /* Отступ справа от иконки */
    }
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    width: 500px;
    height: 60px;
    background-color: #85AA9F;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover, .btn:focus {
    background-color: #A5C0B8;
    }
    
    .loginLink {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
    }
    
    .login-link {
      font-weight: 600;
      color: rgba(18, 20, 23, 0.5);
      text-decoration: underline;
      text-underline-offset: 4px;
      transition: color 0.3s ease;
    
      &:hover {
        color: #121417;
      }
  }
}
