@media screen and (min-width: 375px){
    .starting {
      max-width: 375px;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
    }

 @media screen and (min-width: 768px){
    .starting {
      max-width: 768px;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
    }


@media screen and (min-width: 1158px){
    .starting {
      max-width: 1158px;
      margin-left: 270px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
    }