@media screen and (min-width: 375px) {
    .phonebook-container {
      max-width: 375px;
      min-height: 563px;
      font-family: Arial, sans-serif;
    
        background-image: url(../../images/background-pnonebook375.jpg);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    h1 {
      padding-top: 30px;
      padding-left: 90px;
      font-size: 36px;
      color: #333;
      text-decoration: underline;
    }
    
    .b {
      font-weight: bold;
    }
    }
  @media screen and (min-width: 768px) {
    .phonebook-container {
      max-width: 768px;
      min-height: 1024px;
      font-family: Arial, sans-serif;
    
        background-image: url(../../images/background-pnonebook768.jpg);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    h1 {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 240px;
      font-size: 60px;
      color: #333;
      text-decoration: underline;
    }
    
    .b {
      font-weight: bold;
    }
    }
  
  @media screen and (min-width: 1158px){
  .phonebook-container {
    max-width: 1158px;
    min-height: 1737px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  
      background-image: url(../../images/background-pnonebook1158.jpg);
      background-repeat: no-repeat;
      background-position: center;
      box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 0 auto;  
  }
  
  h1 {
    padding-top: 120px;
    padding-left: 380px;
    font-size: 70px;
    color: #333;
    text-decoration: underline;
  }
  
  .b {
    font-weight: bold;
  }
  }