// @media screen and (min-width: 375px){ 
//   .contact-list {
//   width: 290px;
//   margin-left: 20px;
//   list-style-type: none;
//   height: 70px;
//   overflow: hidden;
//   overflow-y: scroll;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }
// }


// @media screen and (min-width: 768px){ 
//   .contact-list {
//   width: 440px;
//   margin-left: 165px;
//   list-style-type: none;
//   height: 500px;
//   overflow: hidden;
//   overflow-y: scroll;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }
// }

@media screen and (min-width: 1158px) {
  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    font-family: MacPawFixelDisplay;
  }
  
  .pagination-button {
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: transparent; /* Keep background transparent by default */
    color: #121417;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-button:disabled {
    color: #121417;
    border: 1px solid #dbdbdb;
    cursor: not-allowed;
  }
  
  .pagination-button.active-page {
    background-color: #85AA9F; /* Active page number button gets the background color */
    color: white;
  }
  
  .pagination-button.active-arrow .icon-arrow {
    color: #85AA9F; /* Active arrow buttons will change arrow color only */
  }
  
  .pagination-button:hover:not(:disabled) {
    background-color: #e2e6ea;
    color: #121417;
  }
  
  .icon-arrow {
    width: 16px;
    height: 16px;
    color: #121417; /* Default color for arrows */
  }
  
  .pagination-button:focus {
    outline: none;
  }
  
  
}
