@media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
      // padding-left: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
    }
    .title {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      }
  }
    @media screen and (min-width: 768px) {
      .container {
        max-width: 768px;
        margin: 0 auto;
        // padding-left: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
      }
      .title {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        }
      }
    
    @media screen and (min-width: 1158px){
    .container {
      max-width: 920px;
      margin: 0 auto;
      padding-left: 135px;
      padding-right: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }

    .title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    }
   }